<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soqol Sql main page</title>
</head>
<body>
<div>
    <h2>SQL Editor</h2>
    <form th:action="@{/RunSql}" method="post">
        <textarea name="query" cols="50" rows="10"></textarea>
        <br> <input type="submit" value="Run sql" />
    </form>
    <div>
        <h2>Query Result</h2>
        <h3 th:text="${errorMessage}"></h3>
        <ul th:each="row : ${rows}">
            <li th:text="${row}">row</li>
        </ul>
    </div>
</div>
</body>
</html>